<div class="container">
  <div *ngIf="errorMessage" class="text-bg-danger">{{errorMessage}}</div>
  <div class="card" *ngIf="bugs">
    <div class="card-header">Bugs List</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th> <th>Title</th> <th>Status</th> <th>Description</th><th>Project Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of bugs">
          <td>{{b.id | json }}</td>
          <td>{{b.title | json}}</td>
          <td>{{b.status | json}}</td>
          <td>{{b.description | json}}</td>
          <td>{{b.projectname | json}}</td>
          <td>
            <button class="btn btn-danger" (click)="removeBug(b)">
              <i class="bi bi-trash"></i>
           </button>
          </td>

        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
